body {
    padding-top: 5rem;
    background-color:rgb(236, 236, 236);
}
#p-heading{
    margin-left: 60px;
}
.img-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 40px;
    flex-wrap:wrap;
    list-style: none;
}
.card{
   width: 320px;
    box-shadow: 0 8px 8px -4px #a5a8ac;  
  
    
}
.inner-card{
    padding: 10px;
}
.material-icons{
    font-size: 15px;
    color:#a5a8ac;

}
.price{
    border-radius: 20px;
    width: 80px;
    height:22px; 
    text-align: center;
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 19px;
    border-color: #14b298;
    background-color: #14b298;
    border-style: solid;
}

.p-btn{
    width:100%;
    background-color: #2079f5;
    border-color: #2079f5;
    color: white;
    border-style: solid;
}
.p-container{
    width:750px;
    box-shadow: 0 1px 8px -0.5px #a5a8ac; 
    display: flex;
    flex-direction: row; 
    background-color: white;

}
.details{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 2px;
}

.e-btn{
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #2079f5;
    background-color: #2079f5;
    color: white;
    border-style: solid;
}

.type{
    border-radius: 20px;
    border-color:rgb(244, 182, 36) ;
    background-color: rgb(244, 182, 36);
    width: 60px;
    height:22px; 
    text-align: center;
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 19px;
    border-style: solid;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #a5a8ac;
  font-size: 15px;
}

.p-form{
    width:790px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    padding-right: 100px;
    padding-left: 50px;
}
#form-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    column-gap: 40px;
    width: 100%;
    
}
 /* #form-2{
    width:50px;
} */ 