{% extends 'base.html' %}

{% block main %}
<div class="p-container">
    <img id="property" src="{{ url_for('get_img', filename=property.photo) }}"  height="300px" width="300px"/>
    <div class="details"><h1>{{property.title}}</h1>
        <button class="price" disabled>${{property.price }}</button>
        <button class="type" disabled>{{property.type }}</button>
        <p>{{property.description}}</p>
        <p>{{property.bedroomNo}} Bedrooms</p> <p>{{property.bathroomNo}} Bathrooms</p>
        <p>{{property.location}}</p>
    </div>
</div>
{% endblock %}
